<ion-content padding class="signup" primary>

  <ion-row style="margin-top: 15vh; margin-bottom: 4vh;">
    <ion-col width-20>
    </ion-col>
    <ion-col width-60>
      <img style="width: 60vw;" src="build/assets/images/MyMATRIX.png" alt="my matrix" />
    </ion-col>
    <ion-col width-20>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col class="center" style="margin: 10px;">
      OR
    </ion-col>
  </ion-row>

  <ion-row class="signup-page-buttons">
    <button (click)="signUpWithEmail()" class="social-button" outline>
      <span class="button-inner">
        Sign up with Email
      </span>
    </button>
  </ion-row>

  <ion-row style="height: 15vh;">
    <ion-col>
      <p class="center signup-text">Already have an account?</p>
    </ion-col>
  </ion-row>

  <ion-row class="disclaimer" baseline>
    <ion-col>
      <p class="center signup-text">By Signing up you agree to the</p>
      <p class="center signup-text"><span class="disclaimer-link">Terms of Service</span> and <span class="disclaimer-link">Privacy Policy</span></p>
    </ion-col>
  </ion-row>

</ion-content>
