.signup {
  ion-icon {
    font-size: 8vmin
  }
}
.signup-text {
  font-size: 4.2vmin;
}

.disclaimer{
  // position: absolute;
  // bottom: 10vh;
}

.linkedin-button{
  background-color: #0077BA;
}

.twitter-button{
  background-color: #00A9F3;
}

.social-button{
  height: 7vh;
}

.disclaimer-link{
  color: #0A62B1;
}

.signup-page-buttons{
  button{
    clear: both;
    width: 100%;
  }
}
