<div class="signupEmail" [hidden]="deletingUser">
    <div *ngIf="errorMessage" class="center" style="color: red;">
      {{errorMessage}}
    </div>

    <form [ngFormModel]="userForm" (submit)="updateUser()">
      <ion-row class="center">
        <ion-col>
          <control-message
            control="email"
            [controlGroup]="userForm"
            displayName="Email"></control-message>
          <control-message
            control="name"
            [controlGroup]="userForm"
            displayName="Name"></control-message>
          <control-message
            control="phone"
            [controlGroup]="userForm"
            displayName="Phone number"></control-message>
          </ion-col>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="user.name" ngControl="name" id="name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [ngModel]="user.email ? user.email : '' " (ngModelChange)="user.email = $event" ngControl="email" id="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Job</ion-label>
          <ion-input [ngModel]="user.jobTitle ? user.jobTitle : '' " (ngModelChange)="user.jobTitle = $event" ngControl="jobTitle" id="jobTitle" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company</ion-label>
          <ion-input [ngModel]="user.company ? user.company : '' " (ngModelChange)="user.company = $event" ngControl="company" id="company" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-input [ngModel]="user.phone ? user.phone : '' " (ngModelChange)="user.phone = $event" ngControl="phone" id="phone" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <button block class="social-button" [disabled]="!userForm.valid">
          <loader [white]="true" *ngIf="updatingUser"></loader>
          <span *ngIf="!updatingUser">Update</span>
        </button>
      </ion-row>
    </form>
    <ion-row [hidden]="user.authenticationProvider">
      <button block secondary class="social-button" (click)="goToChangePassword()">Change Password</button>
    </ion-row>
    <ion-row>
      <button block danger class="social-button" (click)="deleteUser()">Delete My Account</button>
    </ion-row>
</div>
<div class="page-loader" *ngIf="deletingUser">
    <loader [isRunning]="isLoading"></loader>
</div>
