<div class="signupEmail">
    <div *ngIf="errorMessage" class="center" style="color: red;">
      {{errorMessage}}
    </div>

    <form [ngFormModel]="userForm" (submit)="updateUser()">
      <ion-row class="center">
        <ion-col>
          <control-message
            control="email"
            [controlGroup]="userForm"
            displayName="Email"></control-message>
          <control-message
            control="name"
            [controlGroup]="userForm"
            displayName="Name"></control-message>
          <control-message
            control="phone"
            [controlGroup]="userForm"
            displayName="Phone number"></control-message>
          </ion-col>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="user.name" ngControl="name" id="name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email Address</ion-label>
          <ion-input [(ngModel)]="user.email" ngControl="email" id="email" type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Job Title</ion-label>
          <ion-input [(ngModel)]="user.jobTitle" ngControl="jobTitle" id="jobTitle" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Name</ion-label>
          <ion-input [(ngModel)]="user.company" ngControl="company" id="company" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone Number</ion-label>
          <ion-input [(ngModel)]="user.phone" ngControl="phone" id="phone" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <button block class="social-button" [disabled]="!userForm.valid">
          <loader [white]="true" *ngIf="updatingUser"></loader>
          <span *ngIf="!updatingUser">Update</span>
        </button>
      </ion-row>
    </form>
    <ion-row [hidden]="user.authenticationProvider">
      <button block secondary class="social-button" (click)="goToChangePassword()">Change Password</button>
    </ion-row>
    <ion-row>
      <button block danger class="social-button">Delete My Account</button>
    </ion-row>
</div>
