.support-container {
  padding: 1em;
  text-align: center;

  h3 {
    font-weight: bold;
    font-size: 2em;
    padding-top: 1em;
  }

  h5 {
    margin-bottom: 2.5em;
    font-size: 1.5em;
  }

  button {
    font-weight: bold;
    height: 7vh;
  }

  .button-inner {
    font-size: 1.2em;
  }
}
