
<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My MATRIX</ion-title>
</ion-navbar>
<ion-row class="event-segments">
  <button
    [ngClass]="{active: page === 'upcomingEvents'}"
    (click)="changePage('upcomingEvents')"
    round>
    Future Events
  </button>
  <button
    [ngClass]="{active: page === 'pastEvents'}"
    (click)="changePage('pastEvents')"
    round>
    Past Events
  </button>
  <button
    [ngClass]="{active: page === 'surveys'}"
    (click)="changePage('surveys')"
    round>
    Surveys
  </button>
</ion-row>
<ion-content padding class="events-container">
  <div [ngSwitch]="page">
    <div *ngSwitchDefault>
      <events [events]="events"></events>
    </div>
    <div *ngSwitchWhen="'upcomingEvents'">
      <events [events]="upcomingEvents"></events>
    </div>
    <div *ngSwitchWhen="'pastEvents'">
      <events [events]="pastEvents"></events>
    </div>
    <div *ngSwitchWhen="'surveys'">
      <surveys *ngIf="surveys.length > 1" [surveys]='surveys'></surveys>
      <p *ngIf="surveys.length === 0" class="center" style="padding: 10vmin" >
        Hold up no surveys yet...
      </p>
    </div>
  </div>
</ion-content>
