
<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center">
      <!-- <img class="little-logo" src="build/assets/images/MyMatrix_Little.png" alt="My Matrix"> -->
      MATRIX Calendar
    </ion-title>
    <ion-buttons *ngIf="currentLocation" end>
      <button (click)="filterLocations()">
        <ion-icon ios="ios-pin" md="md-pin" class="location-icon"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>

<ion-content padding class="events-container">
  <events [events]="filteredLocation" [location]="currentLocation" *ngIf="!isLoading"></events>
  <div class="page-loader" *ngIf="isLoading">
      <loader [isRunning]="isLoading"></loader>
  </div>
</ion-content>
