
<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My MATRIX</ion-title>
</ion-navbar>
<ion-row class="event-segments">
  <button
    [ngClass]="{active: page === 'myEvents'}"
    (click)="changePage('myEvents')"
    round>
    My Events
  </button>
  <button
    [ngClass]="{active: page === 'upcomingEvents'}"
    (click)="changePage('upcomingEvents')"
    round>
    Upcoming Events
  </button>
  <button
    [ngClass]="{active: page === 'mySurveys'}"
    (click)="changePage('mySurveys')"
    round>
    My Surveys
  </button>
</ion-row>
<ion-row class="month-filters" center>
  <ion-col width-45>
    <ion-icon class="icon-chevron-left"></ion-icon>
    <span class="event-month">Month</span>
    <ion-icon class="icon-chevron-right"></ion-icon>
  </ion-col>
  <ion-col width-45>
  </ion-col>
  <ion-col width-10>
    <ion-icon name="search" end></ion-icon>
  </ion-col>
</ion-row>
<ion-content padding class="events-container">
  <div [ngSwitch]="page">
    <div *ngSwitchDefault>
      <events [events]="events"></events>
    </div>
    <div *ngSwitchWhen="'myEvents'">
      <events *ngIf="userEvents.length > 1" [events]="userEvents"></events>
      <p *ngIf="userEvents.length === 0" class="center" style="padding: 10vmin" >
        You have no saved events
      </p>
    </div>
    <div *ngSwitchWhen="'upcomingEvents'">
      <events [events]="upcomingEvents"></events>
    </div>
    <div *ngSwitchWhen="'mySurveys'">
      <surveys *ngIf="userSurveys.length > 1" [surveys]='userSurveys'></surveys>
      <p *ngIf="userSurveys.length === 0" class="center" style="padding: 10vmin" >
        You have no saved surveys
      </p>
    </div>
  </div>
</ion-content>
