<h2 padding>{{survey.name}}</h2>

<form [ngFormModel]="surveyForm"
      (ngSubmit)="onSubmit(survey)">
  <ion-card *ngFor="#question of survey.questions">
    <ion-card-header>
      {{question.text}}
    </ion-card-header>
    <ion-card-content>
      <div [ngSwitch]="question.answer.type">
        <ion-list *ngSwitchWhen="'radio'">
          <ion-item *ngFor="#option of question.answer.options"
                    (click)="selectOption(question.answer.options, option)">
            <input 
                  type="radio"
                  [name]="question.questionId"
                  [value]="option.value"
                  [checked]="option.selected"
                  [ngFormControl]="radio"/>
            <label>
              {{option.display}}
            </label>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchWhen="'textBox'">
          <ion-item *ngFor="#option of question.answer.options">
            <ion-textarea
                         [(ngModel)]="option.value"
                         (change)="textChange()"
                         [value]="option.value"
                         placeholder="type response here"
                         [ngFormControl]="textBox"></ion-textarea>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchWhen="'checkBox'">
          <ion-item *ngFor="#option of question.answer.options">
            <ion-label>
              {{option.display}}
            </ion-label>
            <ion-checkbox
                         [value]="option.value"
                         [(ngModel)]="option.selected"
                         (click)="checkOption(option)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
      <!-- answers go here -->
    </ion-card-content>
  </ion-card>
  <button
         [disabled]="!surveyForm.valid">
    Save
  </button>
</form>


<!--          (click)="saveProgress(survey)" -->