// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "app.icons";
@import "../components/events/eventListItem.component";
@import "../components/events/events.component";
@import "../components/event/event.component";
@import "../components/sessions/sessions.component";
@import "../components/question/question.component";
@import "../pages/surveys/surveys.page";
@import "../components/signup/signup.component";
@import "../components/login/login.component";
@import "../components/session-registration/session-registration.component";
@import "../components/survey-description/survey-description.component";
@import "../components/friend-registration/friend-registration.component";
@import "../components/user-settings/user-settings.component";
@import "../components/surveys/surveys.component";
@import '../pages/signupEmail/signupEmail.page';
@import "../pages/begin-survey/begin-survey.page";
@import "../pages/survey-completed/survey-completed.page";
@import "../pages/login/login.page";
@import "../pages/survey/survey.page";
@import "../pages/event/event.page";
@import "../pages/support/support.page";
@import "../pages/events/events.page";


.center {
  text-align: center;
}
.matrixBlueFont {
  color: #005AA3;
}
.alert-message {
  text-align: center;
}

@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'lato-regular';
  src:url('../fonts/Lato-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-bold';
  src:url('../fonts/Lato-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: lato-regular;

  form {
    font-family: lato-regular;
  }
}

.user-name .toolbar-title {
  overflow: visible;
}

/*.md ion-navbar.toolbar {
  padding: 2em 0px;
}*/

button.item:not([detail-none]) .item-inner, a.item:not([detail-none]) .item-inner, .item[detail-push] .item-inner {
  padding-right: 10px;
}
