// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "./app.fontAwesome";
@import "../components/events/eventListItem.component";
@import "../components/events/events.component";
@import "../components/event/event.component";
@import "../components/sessions/sessions.component";
@import "../components/question/question.component";
@import "../pages/begin-survey/begin-survey.page";
@import "../pages/login/login.page";
@import "../pages/survey/survey.page";
@import "../components/signup/signup.component";
@import "../components/login/login.component";
@import "../pages/signup/signup.page";
@import "../pages/events/events.page";

.center {
  text-align: center;
}
.matrixBlueFont {
  color: #005AA3;
}

@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
