
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{event.name}}</ion-title>
</ion-navbar>

<ion-toolbar>
  <ion-segment [(ngModel)]="page" >
    <ion-segment-button value="overview">
      Overview
    </ion-segment-button>
    <ion-segment-button value="sessions">
      Sessions
    </ion-segment-button>
    <ion-segment-button value="surveys">
      Surveys
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <div [ngSwitch]="page">
    <div *ngSwitchWhen="'overview'">
      <event [event]="event"></event>
    </div>
    <ion-list *ngSwitchWhen="'sessions'">
  <ion-card *ngFor="#session of event.sessions">
    <ion-card-content>
      <ion-card-title>{{session.name}}</ion-card-title>
      <p>{{session.time | amDateFormat:"dddd, MMMM Do YYYY, h:mm:ss a"}}</p>
      <p>{{session.description}}</p>
    </ion-card-content>
  </ion-card>
    </ion-list>
    <div *ngSwitchWhen="'surveys'">
      <surveys *ngIf="surveys" [surveys]='surveys'></surveys>
    </div>
  </div>
</ion-content>
