
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{event.name}}</ion-title>
</ion-navbar>

<ion-toolbar>
  <ion-segment [(ngModel)]="page" >
    <ion-segment-button value="overview">
      Overview
    </ion-segment-button>
    <ion-segment-button *ngIf="event.sessions.length > 1"  value="sessions">
      Sessions
    </ion-segment-button>
    <ion-segment-button value="surveys">
      Surveys
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <div [ngSwitch]="page">
    <div *ngSwitchWhen="'overview'">
      <event [event]="event"></event>
      <session *ngIf="event.sessions.length === 1" [session]="event.sessions[0]"></session>
    </div>
    <sessions *ngSwitchWhen="'sessions'" [sessions]="event.sessions"></sessions>
    <div *ngSwitchWhen="'surveys'">
      <surveys *ngIf="surveys" [surveys]='surveys'></surveys>
    </div>
  </div>
</ion-content>
