<h2 class="center">{{event.title}}</h2>
<h5 *ngIf="event.startDate === event.endDate" class="center">
    {{event.startDate}} | {{event.city}}, {{event.state}}
</h5>
<div *ngIf="event.startDate !== event.endDate" class="center">
  <h5>
    {{event.startDate}} - {{event.endDate}}
  </h5>
  <h5>
    {{event.location.city}}, {{event.location.state}}
  </h5>
</div>
<ion-row>
  <ion-col width-10>
  </ion-col>
  <ion-col width-80>
    <img class="center-event-image" src="{{event.thumb}}" alt="{{event.name}}"/>
  </ion-col>
  <ion-col width-10>
  </ion-col>
</ion-row>
<p class="center matrixBlueFont"><string>{{event.description}}</string></p>
<!--<hr>-->
<!--<event-location [location]="event.location"></event-location>-->
<!--<hr>-->
<!--<session *ngIf="event.sessions.length === 1" [session]="event.sessions[0]"></session>-->
