<div class="event-component">
  <ion-row class="row-padding light">
    <ion-col>
      <h5 class="center">Are you at this event?</h5>
      <p class="center">
        Take this questionare & be entered to win a prize
      </p>
      <ion-row style="display: flex; justify-content: center">
        <button>Take Survey</button>
      </ion-row>
    </ion-col>
  </ion-row>
  <img src="build/assets/images/EventImage.jpg" alt="event image" />
  <ion-row class="row-padding">
    <ion-col>
      <h2>{{event.title}}</h2>
    </ion-col>
  </ion-row>
  <ion-row class="row-padding">
    <ion-col>
      <h6>
        <span *ngIf="event.startDate === event.endDate">{{(event.startDate | amFromUnix)| amDateFormat:"MMMM Do, YYYY"}}</span>
        <span *ngIf="event.startDate !== event.endDate">{{(event.startDate | amFromUnix)| amDateFormat:"MMMM Do, YYYY"}} - {{(event.endDate | amFromUnix)| amDateFormat:"MMMM Do, YYYY"}}</span>
      </h6>
      <h6>
        {{event.city}}, {{event.state}}
      </h6>
    </ion-col>
    <ion-col class="register-button-col">
      <button (click)="register(event)">Register</button>
    </ion-col>
  </ion-row>
  <ion-row class="event-description light row-padding">
    <ion-col>
      <p>{{event.description}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="row-padding">
    <ion-col>
      <ion-row>
        <ion-col width-25></ion-col>
        <ion-col width-75>
          <h4>Madison Square Garden</h4>
          <h6>{{event.addressLine1}}</h6>
          <h6>{{event.addressLine2}}</h6>
          <h6>{{event.city}}, {{event.state}} {{event.zipcode}}</h6>
        </ion-col>
      </ion-row>
      <hr/>
      <ion-row>
        <ion-col>
          <h5>Time: 11:30AM - 1:30PM</h5>
          <h6 style="padding-top: 0.6rem;">(Lunch will be served from 11:30AM - Noon. Educational session begins at Noon.)</h6>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="row-padding light">
    <ion-col>
      <h4>Overview</h4>
      <div [innerHTML]="event.overview"></div>
      <ion-row>
        <ion-col width-25>
          <img src="http://www.matrixres.com/media/1337/robertwoods.png">
        </ion-col>
        <ion-col width-75>
          <h4 style="margin-bottom: 0;">About the Facilitator</h4>
          <h5>Robert Woods</h5>
        </ion-col>
      </ion-row>
      <div [innerHTML]="event.aboutFacilitator"></div>
      <hr/>
      <h5 class="center connect">Connect with Robert</h5>
      <ion-row>
        <ion-col style="display: flex; justify-content: center;">
          <button class="fab" item-right linkedIn>
            <ion-icon class="icon-linkedin"></ion-icon>
          </button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col style="display: flex; justify-content: center;">
          <button class="fab" item-left twitter>
            <ion-icon class="icon-twitter"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="row-padding" style="margin-top: 1.2rem; margin-bottom: 1.2rem;">
    <ion-col style="display: flex; justify-content: center;">
      <button>Register Now for this Event</button>
    </ion-col>
  </ion-row>
  <ion-row class="row-padding light" style="padding-top: 1.2rem;">
    <ion-col>
      <h5 class="center">Are you going to this event?</h5>
      <p class="center">
        Take this questionare & be entered to win a prize
      </p>
    </ion-col>
  </ion-row>
</div>
