@import '../../theme/app.variables';
.center-event-image{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.event-component {
    h2 {
        font-family: lato-bold;
        margin-bottom: 0;
    }
    h5 {
        font-family: lato-bold;
        margin-top: 0;
        margin-bottom: 0.2rem;
    }
    h6 {
        margin-top: 0;
        margin-bottom: 0.2rem;
    }
    h4 {
      font-family: lato-bold;
    }
    .event-description {
        margin-top: 1.2rem;
    }
    .row-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .light {
      background-color: map-get($colors, light);
      border-top: 1px solid #D7D8D8;
      border-bottom: 1px solid #D7D8D8;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    .connect {
      font-family: lato-regular;
      margin-top: 2rem;
    }
    .fab {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 7.2rem;
      font-size: 1.8rem;
      text-align: center;
    }
}

.register-button-col {
    display: flex;
    justify-content:flex-end;
    button {
        text-transform: none;
        border-radius: 0;
        font-family: lato-bold;
    }
}
