.return-home-button {
  color: grey;
}

.forward-arrow-icon ion-ios-arrow-forward {
  font-size: 36px;
}

.done-row {
  padding: 20px 5px;
}

.done-column {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
}

.thank-you-message {
  text-align: center;
  color: #333333;
  font-size: 18px;
  padding: 10px 55px;
  line-height: 30px;
}

.done-page {
  color: blue;
  background-image: url('../assets/images/done.png');
  background-position: center;
  background-size: auto 100%;
}
