<ion-content padding class="login" primary>

  <ion-row style="margin-top: 5vh; margin-bottom: 4vh;">
    <ion-col width-20>
    </ion-col>
    <ion-col width-60>
      <img style="width: 60vw" src="build/assets/images/MyMATRIX.png" alt="my matrix" />
    </ion-col>
    <ion-col width-20>
    </ion-col>
  </ion-row>

  <ion-row class="signup-page-buttons">
    <button class="linkedin-button social-button" (click)="login('LinkedIn')">
      <ion-col width-10>
        <ion-icon class="icon-linkedin"></ion-icon>
      </ion-col>
      <ion-col width-90>
        <span *ngIf="!signup">Connect with</span> LinkedIn
      </ion-col>
    </button>
  </ion-row>

  <ion-row class="signup-page-buttons">
    <button class="twitter-button social-button" (click)="login('Twitter')">
      <ion-col width-10>
        <ion-icon class="icon-twitter"></ion-icon>
      </ion-col>
      <ion-col width-90>
        <span *ngIf="!signup">Connect with</span> Twitter
      </ion-col>
    </button>
  </ion-row>


  <ion-row>
    <ion-col></ion-col>
    <h5>
      CONNECT WITH
    </h5>
    <ion-col></ion-col>
  </ion-row>
  <form [ngFormModel]="userForm" (submit)="login('Email')">
    <div *ngIf="errorMessage" class="center" style="color: red;">
      {{errorMessage}}
    </div>
    <ion-row class="center">
      <ion-col>
        <control-message
          control="email"
          [controlGroup]="userForm"
          displayName="Email"></control-message>
        <control-message
          control="password"
          [controlGroup]="userForm"
          displayName="Password"></control-message>
        </ion-col>
    </ion-row>
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input ngControl="email" id="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input ngControl="password" id="password" type="password" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
      <button class="social-button" block>
        <loader [white]="true" *ngIf="loggingIn"></loader>
        <span *ngIf="!loggingIn">Log in</span>
      </button>
    </ion-row>
  </form>

  <ion-row (click)="emailSignup()">
    <ion-col></ion-col>
    <p class="matrixBlueFont">Create an Email Account</p>
    <ion-col></ion-col>
  </ion-row>

  <ion-row (click)="forgotPassword()">
    <ion-col></ion-col>
      <p>
        Forgot password?
      </p>
    <ion-col></ion-col>
  </ion-row>

</ion-content>
