.main-container {
  padding: 2rem;
  font-size: 20px;
  color: #333333;
  background: url('../assets/images/BeginSurvey.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // background-size: auto 100%;
}

.scroll-content {
  background: url('../assets/images/BeginSurvey.png') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size:contain;
}

.toolbar[transparent] .toolbar-title, .toolbar[transparent] .bar-button-default {
  color: #333333;
}

.beginSurveyButton {
  border-radius: 0;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 10px;
  padding: 25px 0px;
}

.centerText {
  text-align: center;
}

.surveyTime {
  padding: 12px 16px;
  border: 3px solid #333333;
  border-radius: 25px;
  font-weight: bold;
}

.conferenceName {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

.beginSurveyRows {
  padding: 2rem 0;
}

.ion-col {
  padding: 10px;
}

.button-inner {
  text-transform: none;
  /*padding: 1em 0px;*/
}
