$gray-background: #f6fafb;

.question-text {
  font-size: 1.2em;
  padding: 0 1em;
  min-height: 20%;
  max-height: 20%;
}

.md ion-list {
  min-height: 34%;
  max-height: 34%;
}

.answer-container {
  min-height: 31%;
  max-height: 31%;

  textarea {
    border: none;
    width: 100%;
    padding: 1em;
    resize: none;
    height: 10em;
  }

}

.ios .radio-checked .radio-inner {
  border-width: 5px;
  width: 10px;
  height: 21px;
  left: 0;
  top: 0;
}

.item {
  padding-left: 0;
  font-size: 1.3em;

  span {
    padding-left: 1em;
    padding: 1.5em;
  }
}

.item.checkbox-item {
  padding-left: 0.25em;
}

.selected {
  font-weight: bold;
  background-color: $gray-background;
}

.checkSelected {
  color: #1064b1;
}

.item-radio-checked ion-label {
  color: #1064b1; 
}

.question-buttons {
  background-color: $gray-background;

  .disabled {
    color: #999b9a;
  }

  .enabled {
    color: #1064b1;
  }
}

// alert styles
.alert-wrapper {
  border-radius: 0.25em;
}

.alert-title {
  padding: 0.25em;
}

.alert-message {
  font-size: 16px;
  padding: 0.5em;
}

.alert-button {
  font-size: 15px;
  border: 1px solid #1064b1;
  margin-left: 0.2em;
  min-width: 46%;
}

.alert-button:last-child {
  border-right: 1px solid #1064b1;
  color: white;
  background-color: #1064b1;
}

.alert-button-group {
  padding: 1.25em;
}