<ion-row center class="question-text">
  {{currentQuestion.text}}
</ion-row>
<ion-list class="answer-container">
  <div [ngSwitch]="currentQuestion.answer.type">
    <ion-list *ngSwitchWhen="'radio'" radio-group>
      <ion-item *ngFor="let option of currentQuestion.answer.options" [class.selected]="option.selected">
        <ion-label>
          <span>
            {{option.display}}
          </span>
          </ion-label>
        <ion-radio
                  (click)="changeSelection(option)"
                  [value]="option.value"
                  [checked]="option.selected"
                  [name]="currentQuestion.id"
                  matrixblue></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchWhen="'textBox'">
      <ion-item *ngFor="let option of currentQuestion.answer.options">
        <textarea [(ngModel)]="option.value"
                  placeholder="Type response here"></textarea>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchWhen="'checkBox'">
      <ion-item class="checkbox-item" *ngFor="let option of currentQuestion.answer.options" [class.selected]="option.selected">
        <ion-label [class.checkSelected]="option.selected">{{option.display}}</ion-label>
        <ion-checkbox
                     [value]="option.value"
                     [checked]="option.selected"
                     [(ngModel)]="option.selected"
                     matrixblue></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-list>
<ion-toolbar position="bottom">
  <ion-row baseline class="question-buttons">
    <ion-col width-33>
      <button clear (click)="previousQuestion()" *ngIf="enabled">
        <ion-icon matrixblue name="arrow-back"></ion-icon>
        Previous
      </button>
      <button surveylight clear (click)="previousQuestion()" *ngIf="!enabled">
        <ion-icon surveylight name="arrow-back"></ion-icon>
        Previous
      </button>
    </ion-col>
    <ion-col width-33>
      <button clear (click)="skipQuestion()">Skip</button>
    </ion-col>
    <ion-col width-33>
      <button clear (click)="nextQuestion()">
        Next
        <ion-icon matrixblue name="arrow-forward"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>
