
<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center">
      My MATRIX
<!--       <img class="little-logo" src="build/assets/images/MyMatrix_Little.png" alt="My Matrix"> -->
    </ion-title>
</ion-navbar>

<ion-content padding class="events-container">
  <events [events]="events" [userEvents]="userEvents"></events>
  <div class="page-loader" *ngIf="isLoading">
      <loader [isRunning]="isLoading"></loader>
  </div>
</ion-content>