.events-list {
  ion-item {
    border-top: 1px solid #DBDBDB;
    padding-left: 10px;
  }
  .item-inner{
    border-bottom: none;
  }
  .event-title{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  ion-thumbnail img {
      max-width: 9rem;
      max-height: 9rem;
  }
  .eventListItemCol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    img{
      width: 1.3rem;
      margin-left: 0.5rem;
    }
  }
}

.alert-button .button-inner {
  font-size: 1.4rem;
}
