<ion-row class="month-filters" center>
  <ion-col>
    <ion-icon
      class="icon-chevron-left"
      (click)="subtractMonth()"></ion-icon>
    <span class="event-month">{{month | amDateFormat:"MMMM"}}</span>
    <ion-icon
      class="icon-chevron-right"
      (click)="addMonth()"></ion-icon>
  </ion-col>
  <ion-col>
    <ion-searchbar
      class="event-search"
      [ngClass]="{eventSearchActive: eventSearchActive}"
      [(ngModel)]="searchQuery"
      (input)="searchEvents($event.value)"
      (focus)="eventSearchActive = true"
      (blur)="eventSearchActive = searchQuery ? true : false"
      placeholder=" "
      hideCancelButton="true"
      ></ion-searchbar>
  </ion-col>
</ion-row>
<ion-list class="events-list">
  <eventListItem *ngFor="#event of eventsSearch" [event]="event"></eventListItem>
</ion-list>
