.events-list {
  ion-item {
    border-top: 1px solid #DBDBDB;
    padding-left: 10px;
  }
  ion-col {
    padding-left: 0px;
  }
  .item-inner {
    border-bottom: none;
  }
  .sessions {
    font-size: .8em;
  }
  .sessions.event-title {
    margin: 5px 0px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  ion-thumbnail img {
      max-width: 9rem;
      max-height: 9rem;
      border: 1px solid #DBDBDB;
  }
  .eventListItemCol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    img{
      width: 1.3rem;
      margin-left: 0.5rem;
    }
  }
}
