<ion-row class="month-filters" center>
  <ion-col style="display: flex; justify-content: space-between;">
    <ion-col width-10 (click)="subtractMonth()">
      <img *ngIf="showLeftButton" class="chevrons" src="build/assets/icons/Gray_LeftArrow.png"/>
    </ion-col>
    <ion-col width-67>
      <span class="event-month">{{month | amDateFormat:"MMMM YYYY"}}</span>
    </ion-col>
    <ion-col width-10 (click)="addMonth()">
      <img *ngIf="showRightButton" class="chevrons" src="build/assets/icons/Gray_RightArrow.png"/>
    </ion-col>
  </ion-col>
  <ion-col>
    <ion-searchbar
      class="event-search"
      [ngClass]="{eventSearchActive: eventSearchActive}"
      [(ngModel)]="searchQuery"
      (input)="searchEvents($event.value)"
      (focus)="eventSearchActive = true"
      (blur)="eventSearchActive = searchQuery ? true : false"
      placeholder=" "
      hideCancelButton="true"
      ></ion-searchbar>
  </ion-col>
</ion-row>
<ion-list class="events-list">
  <eventListItem *ngFor="#event of eventsSearch" [event]="event"></eventListItem>
</ion-list>
