@import '../../theme/app.variables';
.event-search {
  background-color: map-get($colors, light);
  border-bottom: none;
  border-top: none;
  input {
    background-color: map-get($colors, light);
    box-shadow: none;
  }
}

.eventSearchActive {
  input {
    background-color: white;
  }

}
