@import '../../theme/app.variables';
.event-search {
  background-color: map-get($colors, light);
  border-bottom: none;
  border-top: none;
  input {
    background-color: map-get($colors, light);
    box-shadow: none;
  }
}

.eventSearchActive {
  input {
    background-color: white;
  }
}

.arrow {
  display: flex;
  align-items: center;
}

.ion-ios-search {
  margin-right: 0.5em;
}

.ion-md-search {
  margin-right: 0.5em;
}

.event-month {
  padding-left: 10px;
}

.toolbar {
  padding: 2em 0px;
}

.menu-toggle {
  margin-top: 1em;
}
