<div class="signupEmail">
    <ion-row>
      <ion-col>
        <p class="center">
          Enter your email to request a password reset link.
        </p>
      </ion-col>
    </ion-row>
    <form [ngFormModel]="forgotPasswordForm" (submit)="forgotPassword()">
      <ion-row class="center" style="color: red;">
        <ion-col>
          <span *ngIf="errorMessage && !successMessage">{{errorMessage}}</span>
          <span *ngIf="!errorMessage && successMessage" style="color: green;">{{successMessage}}</span>
          <control-message
            control="email"
            [controlGroup]="forgotPasswordForm"
            displayName="Email"></control-message>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input ngControl="email" id="email" type="email" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <button block class="social-button">
          <loader [white]="true" *ngIf="requestingEmail"></loader>
          <span *ngIf="!requestingEmail">Request Password Reset Link</span>
        </button>
      </ion-row>
    </form>
</div>
