.signupEmail {
  ion-item {
    padding-left: 0;
    border-right: 1px solid #c8c7cc;
    border-left: 1px solid #c8c7cc;
  }
  ion-list {
    margin: 10px 16px;
    border-bottom: none;
    border-top: none;
  }
  ion-label {
    /*margin: 0.75em 0.5em;*/
    color: #C1BFC0;
  }
  .icon-photo {
    color: #D7D7D7;
    font-size: 60px;
    text-align: center;
    margin: 15px;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
  }
}

.social-button {
  font-weight: bold;
  margin: 0.4rem 0;
  border-radius: 0px;
}

.photo-sphere {
  background-color: #F6FAFB;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid #D7D7D7;
}
