<ion-navbar *navbar primary primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign up with Email</ion-title>
</ion-navbar>
<ion-content class="signupEmail">
    <ion-row style="margin-top: 5vh;">
      <ion-col>
      </ion-col>
      <ion-col>
        <div class="photo-sphere">
            <ion-icon class="icon-photo"></ion-icon>
        </div>
        <h6 class="center" style="color:#BCBABB">Add a photo</h6>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <form>
      <ion-list>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email Address</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Job Title</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone Number</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <button block class="social-button">Sign up</button>
      </ion-row>
    </form>
</ion-content>
