<h2 class="center">{{event.name}}</h2>
<h5 class="center">{{event.starts}} - {{event.ends}}</h5>
<ion-row style="justify-content: center;">
  <ion-col width-75>
    <img src="{{event.image}}" alt="{{event.name}}"/>
  </ion-col>
</ion-row>
<p class="center">{{event.description}}</p>
<!-- <ion-item-group>
  <ion-item-divider light>Sessions</ion-item-divider>
    <ion-item (click)="goToSession(session)"  *ngFor="#session of event.sessions">
      {{session.name}}
    </ion-item>
</ion-item-group>
<ion-item-group *ngIf="surveys">
  <ion-item-divider light>Surveys</ion-item-divider>
    <ion-item *ngFor="#survey of surveys">
      {{survey.name}}
    </ion-item>
</ion-item-group> -->
