.login {
  ion-icon {
    font-size: 8vmin
  }
}
.login-text {
  font-size: 4.2vmin;
}

.disclaimer{
  // position: absolute;
  // bottom: 10vh;
}

.linkedin-button{
  background-color: #0077BA;
}

.twitter-button{
  background-color: #00A9F3;
}

.social-button{
  height: 7vh;
  margin-top: 2vh;
}

.disclaimer-link{
  color: #0A62B1;
}
