<ion-content class="session-registration">
  <form id="mktoForm_1862"></form>
<!--     <form>
      <ion-list class="registration-list">
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Event Name" [value]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Job Title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Company Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Phone Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix"></ion-label>
          <ion-input type="text" placeholder="MATRIX Account Executive (optional)"></ion-input>
        </ion-item>

      </ion-list>
      <ion-row>
        <button block class="register-button">Register</button>
      </ion-row>
    </form> -->
</ion-content>
