<ion-content class="session-registration">
  <ion-card>
    <ion-card-header>
      We're glad you've decided to join us!
      <p class="form-info">Fill in the information below to secure your spot at this event.</p>
    </ion-card-header>
    <ion-card-content>
      <form width-90 center id="mktoForm_1862"></form>
      <button *ngIf="user" id="register-button" class="register-button" (click)="saveEvent()" clear>
        <img src="build/assets/images/RegisterButton.jpg" alt="">
      </button>
      <button *ngIf="!user" id="register-button" class="register-button" (click)="registerFriend()" clear>
        <img src="build/assets/images/RegisterButton.jpg" alt="">
      </button>
    </ion-card-content>
  </ion-card>
<!--     <form>
      <ion-list class="registration-list">
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Event Name" [value]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Job Title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Company Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix">*</ion-label>
          <ion-input type="text" placeholder="Phone Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="red-asterix"></ion-label>
          <ion-input type="text" placeholder="MATRIX Account Executive (optional)"></ion-input>
        </ion-item>

      </ion-list>
      <ion-row>
        <button block class="register-button">Register</button>
      </ion-row>
    </form> -->
</ion-content>
