<div class="signupEmail">
    <div *ngIf="errorMessage" class="center" style="color: red;">
      {{errorMessage}}
    </div>
    <form [ngFormModel]="passwordForm" (submit)="changePassword()">
      <ion-list>
        <ion-item>
          <ion-label>Old Password</ion-label>
          <ion-input ngControl="oldPassword" id="oldPassword" type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>New Password</ion-label>
          <ion-input ngControl="newPassword" id="newPassword" type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Confirm New</ion-label>
          <ion-input ngControl="confirmNewPassword" id="confirmNewPassword" type="password" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <button block class="social-button">
          <loader [white]="true" *ngIf="updatingPassword"></loader>
          <span *ngIf="!updatingPassword">Update Password</span>
        </button>
      </ion-row>
    </form>
</div>
